_wandb:
    value:
        cli_version: 0.20.1
        m: []
        python_version: 3.10.18
        t:
            "1":
                - 1
                - 5
                - 11
                - 49
                - 53
            "2":
                - 1
                - 5
                - 11
                - 49
                - 53
            "3":
                - 16
                - 55
            "4": 3.10.18
            "5": 0.20.1
            "6": 4.48.1
            "12": 0.20.1
            "13": linux-x86_64
epochs:
    value: 15
save_dir:
    value: adversary_weights
